<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>
            <rule name="customResponseCode">
               <match url="upload" />
               <action type="CustomResponse" statusCode="200" />
            </rule>
         </rules>
      </rewrite>
      <staticContent>
         <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
         <mimeMap fileExtension="." mimeType="application/octet-stream" />
      </staticContent>
      <urlCompression doStaticCompression="false" />
      <httpProtocol>
         <customHeaders>
            <add name="Cache-Control" value="no-store, no-cache, no-transform, must-revalidate" />
         </customHeaders>
      </httpProtocol>
      <caching enabled="false" enableKernelCache="false" />
      <security>
         <requestFiltering>
            <verbs>
               <add verb="POST" allowed="true" />
               <add verb="GET" allowed="true" />
            </verbs>
            <fileExtensions>
               <add fileExtension="." allowed="true" />
            </fileExtensions>
            <alwaysAllowedUrls>
            </alwaysAllowedUrls>
            <requestLimits maxAllowedContentLength="2147483647"/>
         </requestFiltering>
      </security>
   </system.webServer>
</configuration>
